/* Custom media query to only apply animations if the user has not selected 'prefers-reduced-motion: reduce' */
@media (--motion) {
  @keyframes fade-in {
    0% {
      opacity: 0.01;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

/* End of --motion media query */

/* Extra MQ to further reduce animations and transitions */
@media (--reduced-motion) {
  *,
  *::before,
  *::after {
    animation-duration: 0.001s !important;
    transition-duration: 0.001s !important;
  }
}
