<section class='u-contentWrapper NotFound'>
  <h1 class='NotFound-content'>
    <span class='NotFound-title'>{{ 'general.404.title' | t }}</span>
    <span class='NotFound-subtext'>{{ 'general.404.subtext' | t }}</span>
  </h1>
  <a
    href='/'
    class='NotFound-button button'
  >
    {{ 'general.404.button_text' | t }}
  </a>
</section>
