.u-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
}

.u-containerNarrow {
  max-width: var(--container-width-narrow);
  margin-left: auto;
  margin-right: auto;
}

.u-containerXNarrow {
  max-width: var(--container-width-xnarrow);
  margin-left: auto;
  margin-right: auto;
}

.u-containerTopPadding {
  padding-top: var(--container-top-space);
}

.u-containerTopPaddingSm {
  padding-top: var(--container-top-space-sm);
}

.u-containerTopPaddingXl {
  padding-top: var(--container-top-space-xl);
}

.u-containerBottomPadding {
  padding-bottom: var(--container-bottom-space);
}

.u-containerBottomMargin {
  margin-bottom: var(--container-space);
}

.u-containerBottomPaddingSm {
  padding-bottom: var(--container-bottom-space-sm);
}

.u-containerBottomPaddingXl {
  padding-bottom: var(--container-bottom-space-xl);
}

.u-containerYPadding {
  padding-top: var(--container-top-space);
  padding-bottom: calc(var(--container-top-space) + 10px);
}

.u-containerYPaddingXl {
  padding-top: var(--container-top-space-xl);
  padding-bottom: var(--container-bottom-space-xl);
}

.u-containerYPaddingSm {
  padding-top: var(--container-top-space-sm);
  padding-bottom: var(--container-bottom-space-sm);
}

.u-containerHalfRight {
  @media (--tablet) {
    margin-left: auto;
    max-width: calc(var(--container-width) / 2);
  }
}

.u-containerHalfLeft {
  @media (--tablet) {
    margin-right: auto;
    max-width: calc(var(--container-width) / 2);
  }
}

.u-contentWrapper {
  padding-left: var(--container-edge-space);
  padding-right: var(--container-edge-space);
}

.u-contentWrapperYPadding {
  padding-top: var(--container-edge-space);
  padding-bottom: var(--container-edge-space);
}

.u-contentWrapperHalfLeft {
  padding-left: var(--container-edge-space);
}

.u-contentWrapperHalfLeftTabletDown {
  @media (--tablet-down) {
    padding-left: var(--container-edge-space);
  }
}

.u-contentWrapperHalfRight {
  padding-right: var(--container-edge-space);
}

.u-containerFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-mediaGrid {
  display: grid;
  grid-gap: var(--spacer);

  @media (--tablet) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.u-containerAlignRight {
  align-items: flex-end;
}

/* Edge Padding
==================================================================== */

.u-edgePaddingXsmall {
  padding-left: var(--edge-padding-xsmall);
  padding-right: var(--edge-padding-xsmall);
}

.u-edgePaddingSmall {
  padding-left: var(--edge-padding-small);
  padding-right: var(--edge-padding-small);
}

.u-edgePaddingMedium {
  padding-left: var(--edge-padding-medium);
  padding-right: var(--edge-padding-medium);
}

/* Overflow
==================================================================== */

.u-overflowHidden {
  overflow: hidden;
}

.u-overflowHiddenTablet {
  @media (--tablet-down) {
    overflow: hidden;
  }
}
